h1{
    color:rgba();

}
.formulaire{
    margin:auto;
    width:50%;
    height:500px;
    border:10px solid #EEEDEC;
    border-style: inset;
    padding:15px;
    background-image:url('arcticfox.jpg');
    background-repeat:no-repeat;
    font-weight:bold;

}

table,th,td{
    border-collapse: collapse;
    border:2px solid black;
    text-align:center;

}

table {
    width: 100%;
}